body{
text-align:justify;
margin-left:470px;

}

table{
border-style:solid;
border-width:2px;
boder-color:black;
line-height:0.8em;
}

div{

  text-align:center;
  margin-right:510px;
}
